@CHARSET "UTF-8";

.menu {
	background-color: #8d8ed4;
}

.menu1 {
	width: 30%;
	margin-left: 22%;
}
.hh{
	width: 30%;
}
.registring{
	padding-left: 33%;
	height: 420px;
	
}
.homing{
	width:90%;
	padding-left: 2%;
	height: 420px;
}
