<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://localhost/ServiceEE</value>
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value>123</value>
		</property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.app.business.bo.User</value>
				<value>com.app.business.bo.Entretien</value>
				<value>com.app.business.bo.Objectif</value>
				<value>com.app.business.bo.Demande</value>
				<value>com.app.business.bo.RendezVous</value>
				<value>com.app.business.bo.Evaluation</value>
				<value>com.app.business.bo.Role</value>

			</list>
		</property>


		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQL5Dialect
				</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.enable_lazy_load_no_trans">true</prop>
				<prop key="hibernate.transaction.factory_class">
					org.hibernate.transaction.JDBCTransactionFactory
				</prop>
			</props>

		</property>


	</bean>


	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>

	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<tx:advice id="defaultTxAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="envoyer*" propagation="REQUIRED" />
			<tx:method name="ajouter*" propagation="REQUIRED" />
			<tx:method name="get*" propagation="REQUIRED" />
			<tx:method name="go*" propagation="REQUIRED" />
			<tx:method name="modifier*" propagation="REQUIRED" />
			<tx:method name="accepter*" propagation="REQUIRED" />
			<tx:method name="find*" propagation="REQUIRED" />
			<tx:method name="supprimer*" propagation="REQUIRED" />
			<tx:method name="confirmer*" propagation="REQUIRED" />

			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="defaultServiceOperation"
			expression="execution(* com.app.business.service.impl.*Service*.*(..))" />
		<aop:advisor pointcut-ref="defaultServiceOperation"
			advice-ref="defaultTxAdvice" />
	</aop:config>


	<bean id="demandeDao" class="com.app.business.dao.impl.DemandeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="rendezVousDao" class="com.app.business.dao.impl.RendezVousDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="userDao" class="com.app.business.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="entretienDao" class="com.app.business.dao.impl.EntretienDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="objectifDao" class="com.app.business.dao.impl.ObjectifDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="roleDao" class="com.app.business.dao.impl.RoleDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="collaborateurService" class="com.app.business.service.impl.CollaborateurServiceImpl">
		<property name="demandeDao" ref="demandeDao" />
		<property name="rendezVousDao" ref="rendezVousDao"></property>
		<property name="userDao" ref="userDao"></property>
		<property name="entretienDao" ref="entretienDao"></property>
		<property name="objectifDao" ref="objectifDao"></property>
	</bean>
	<bean id="responsableService" class="com.app.business.service.impl.ResponsableServiceImpl">

		<property name="rendezVousDao" ref="rendezVousDao"></property>
		<property name="userDao" ref="userDao"></property>
		<property name="entretienDao" ref="entretienDao"></property>
		<property name="objectifDao" ref="objectifDao"></property>
	</bean>
	<bean id="adminService" class="com.app.business.service.impl.AdminServiceImpl">

		<property name="rendezVousDao" ref="rendezVousDao"></property>
		<property name="userDao" ref="userDao"></property>
		<property name="entretienDao" ref="entretienDao"></property>
		<property name="objectifDao" ref="objectifDao"></property>
		<property name="demandeDao" ref="demandeDao" />
		<property name="roleDao" ref="roleDao" />

	</bean>
	<bean id="CollaborateurAction" class="com.web.collaborateur.CollaborateurController"
		scope="prototype">
		<property name="collaborateurService" ref="collaborateurService" />
	</bean>
	<bean id="responsableAction" class="com.web.responsable.ResponsableController"
		scope="prototype">
		<property name="collaborateurService" ref="collaborateurService" />
		<property name="responsableService" ref="responsableService" />
	</bean>



	<bean id="adminAction" class="com.web.admin.AdminController"
		scope="prototype">
		<property name="adminService" ref="adminService" />
		<property name="collaborateurService" ref="collaborateurService" />
	</bean>


</beans>
